[submodule "CVE-2016-6662"]
	path = CVE-2016-6662
	url = https://github.com/MaYaSeVeN/CVE-2016-6662
[submodule "PoC-in-GitHub"]
	path = PoC-in-GitHub
	url = https://github.com/nomi-sec/PoC-in-GitHub.git
