[submodule "CVE-2016-6662"]
	path = CVE-2016-6662
	url = https://github.com/MaYaSeVeN/CVE-2016-6662
[submodule "PoC-in-GitHub"]
	path = PoC-in-GitHub
	url = https://github.com/nomi-sec/PoC-in-GitHub.git
[submodule "CVE-2017-3599"]
	path = CVE-2017-3599
	url = https://github.com/SECFORCE/CVE-2017-3599
[submodule "CVE-2019-11043"]
	path = CVE-2019-11043
	url = https://github.com/neex/phuip-fpizdam
[submodule "CVE-2019-0211_OR_6977"]
	path = CVE-2019-0211_OR_6977
	url = https://github.com/ozkanbilge/Apache-Exploit-2019.git
[submodule "CVE-2018-6981_AND_6982"]
	path = CVE-2018-6981_AND_6982
	url = https://github.com/heaphopopotamus/vmxnet3Hunter.git
[submodule "WeblogicScan"]
	path = WeblogicScan
	url = https://github.com/rabbitmask/WeblogicScan.git
